body{
	padding: 0;
	margin: 0;
}
/*Header Start*/
header{
	background-color: #121B2A;
	padding: 10px 0;
	box-shadow:0 10px 8px black;
	/* 0 10px 8px green, 0 10px 8px blue;*/
}
/*.box_shadow{
	display: block;
}*/
.container{
	overflow: hidden;
	width: 80%;
	/*border:1px solid white;*/
	margin: 0 auto;

}
.logo{
	width: 20%;
	/*border:1px solid white;*/
	float: left;
}
.logo img{
	width:100%;
}
.menu{
	width: 70%;
	/*border:1px solid white;*/
	float: right;
	margin-top:20px;
}
.menu ul {
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding: 0px 20px;
    display: block;
    transition: .5s;
    margin-top: 30px;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #0278BB;
}
/*Header End */